{% extends 'base.html.twig' %}

{% block title %}{{'title.profile_edit'|trans}}{% endblock %}

{% block body %}
    <div style="float:right;">
        <a href="{{ path('profile_index') }}" class="btn btn-outline-primary">{{ 'action.profile_index'|trans }}</a>
        <a href="{{ path('profile_password')}}" class="btn btn-outline-primary">{{ 'action.edit_password'|trans }}</a>
    </div>
    <h1>{{'title.profile_edit'|trans}}</h1>
    {{ form_start(form) }}
    {{ form_widget(form) }}
    {{ form_end(form) }}
{% endblock %}
