{% extends 'base.html.twig' %}

{% block title %}{{ 'action.profile_index'|trans }}{% endblock %}

{% block body %}
    <div style="float:right;">
        <a href="{{ path('profile_edit') }}" class="btn btn-outline-primary">{{'title.profile_edit'|trans}}</a>
        <a href="{{ path('profile_password')}}" class="btn btn-outline-primary">{{ 'action.edit_password'|trans }}</a>
    </div>
    <h1>{{ 'action.profile_index'|trans }}</h1>
{% endblock %}
