{% extends 'base.html.twig' %}

{% block title %}{{ 'title.profile_password'| trans}}{% endblock %}

{% block body %}
    <div style="float:right;">
        <a href="{{ path('profile_edit') }}" class="btn btn-outline-primary">{{'title.profile_edit'|trans}}</a>
        <a href="{{ path('profile_index')}}" class="btn btn-outline-primary">{{ 'action.profile_index'|trans }}</a>
    </div>
    <h1>{{ 'title.profile_password'| trans}}</h1>
    {{ form_start(form) }}
    {{ form_widget(form) }}
    {{ form_end(form) }}
{% endblock %}
