{% extends 'base.html.twig' %}

{% block title %}Change Password{% endblock %}

{% block body %}
    <h1>Change Password</h1>
    <a href="{{ path('profile_edit') }}" class="btn btn-outline-primary">{{ 'action.edit'|trans }}</a>
    <a href="{{ path('profile_index')}}" class="btn btn-outline-primary">{{ 'action.profile_index'|trans }}</a>
    {{ form_start(form) }}
    {{ form_widget(form) }}
    <button class="btn btn-outline-success">Change Password</button>
    {{ form_end(form) }}
{% endblock %}
