{% extends 'base.html.twig' %}

{% block title %}{{ 'title.user_password'|trans }} użytkownika{% endblock %}

{% block body %}
    <h1>{{ 'title.user_password'|trans }} dla użytkownika: {{ user.email }}</h1>
    {{ form_start(form) }}
    {{ form_widget(form) }}
    {{ form_end(form) }}
{% endblock %}
