{% extends 'base.html.twig' %}

{% block body %}
    <h1>{{ recipe.title }}</h1>
    <p>{{ recipe.content }}</p>

    <h2>Rating</h2>
        <p>
        {% if recipe.averageRating is not null %}
            Average Rating: {{ recipe.averageRating }} (based on {{ recipe.ratings.count }} ratings)
        {% else %}
            No ratings yet.
        {% endif %}
        </p>
    <a href="{{ path('recipe_rate', {'id': recipe.id}) }}" class="btn btn-primary">Rate this recipe</a>
    {% if commentForm is not null %}
        <h2>Add a new comment</h2>
        {{ form_start(commentForm) }}
        {{ form_widget(commentForm) }}
        <button class="btn btn-outline-primary"> {{ button_label|default('Submit') }}</button>
        {{ form_end(commentForm) }}
    {% else %}
        <p><a class="btn btn-outline-primary" href="{{ path('app_login') }}">{{ 'action.login'|trans }}</a> to add a comment.</p>
    {% endif %}
    <h2>Comments</h2>
    <ul>
        {% for comment in comments %}
            <li>
                <strong>{{ comment.author.email }}</strong>: {{ comment.createdAt|date('Y-m-d H:i') }}
                <br>
                <medium>{{ comment.content }}</medium>
                {% if is_granted('ROLE_ADMIN') %}
                    <form action="{{ path('comment_delete', {'recipe_id': recipe.id, 'id': comment.id}) }}" method="post" style="display: inline-block;">
                        <button class="btn btn-outline-danger" type="submit">Delete</button>
                    </form>
                {% endif %}
            </li>
        {% else %}
            <li>No comments yet.</li>
        {% endfor %}
    </ul>
{% endblock %}
